
.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.rubik{
  font-family: "Rubik", sans-serif;
  
  
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
input{
  outline: none;
}
button{
  border: none;
}
ul,ol{
  text-decoration: none;
}
html{
  height: 100%;
}
body{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container{
  width: 100%;
  max-width: 1452px;
  margin: 0 auto ;
  padding:0 20px ;
}
/* header style */
header{
  height: 100vh; 
  background-image: url('../images/png/bacground-coffee.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 28.5px ;
  padding-bottom: 33px;
}

.site-nav {
}

.nav-container {
display: flex;
align-items: center;
justify-content: space-between;

}
.narbar-left{
display: flex;
align-items: center;
}
.bar{
  display: none;
}
.sayt-logo {
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 35px;

  a{
      font-family: "Rubik", sans-serif;
      font-size: 20px;
      line-height: 25px;
      letter-spacing: -0.33px;
      color: white;

  }
}
.nav-links a:hover {
  color: #F39C11;
}
.nav-icons {
  display: flex;
  gap: 26px;
}

/* main style */
main{
  flex-grow: 1 ;
}


/* responsive */

@media (max-width: 900px) {
  .sayt-logo{
    width: 160px;
    height: 75px;
  }
  .nav-icons a img{
    width: 50px;
    height: 50px;
  }
  
}
@media (max-width:768px) {
  
  
  .nav-links{
    display: none; 
  }
  .bar{
display: block;

  }
}
@media (max-width:450px) {
header{
    background-image: url('../images/png/header-bg-tel.png');
  }
  .sayt-logo{
    width: 133px;
    height: 63px;
  }
  .nav-icons a img{
    width: 40px;
    height: 40px;
  } 


}