
 
 .lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.rubik{
  font-family: "Rubik", sans-serif;
  
  
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
input{
  outline: none;
}
button{
  border: none;
}
ul,ol{
  text-decoration: none;
}
html{
  height: 100%;
}
body{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container{
  width: 100%;
  max-width: 1652px;
  margin: 0 auto ;
  padding: 20px ;
}
/* header style */
header{
  display: flex;
  flex-direction: column;
  height: 100vh; 
  background-image: url('../images/png/bacground-coffee.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 28.5px ;
  padding-bottom: 33px;
}

.nav-container {
display: flex;
align-items: center;
justify-content: space-between;

}
.narbar-left{
display: flex;
align-items: center;
}
.bar{
  display: none;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 35px;

  a{
      font-family: "Rubik", sans-serif;
      font-size: 20px;
      line-height: 25px;
      letter-spacing: -0.33px;
      color: white;

  }
}
.nav-links a:hover {
  color: #F39C11;
}
.nav-icons {
  display: flex;
  gap: 26px;
}
.hero{

  flex-grow: 1;
}
.hero-container{
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title{

   font-family: "Lobster", sans-serif;
   font-size: 100px;
   line-height: 100%;
   color: white;
   
}
/* main style */
main{ 
  flex-grow: 1 ;
   padding-top: 82px ;
  padding-bottom: 69px;
   background-color: #FFF4D8;
}
.main-about {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mainer-title {
  font-family: "Lobster",sans-serif;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.33px;
  margin-bottom: 33px;
  color: #0D1015;
}
.mainer-mobile-img {
  display: none;
}
.mainer-text {
  width: 554px;
  font-size: 20px;
  font-family: "Rubik",sans-serif;
  line-height: 30px;
  letter-spacing: -0.33px;
  color: #555555;
  margin-bottom: 33px;
}

.mainer-btn {
  width: 161px;
  height: 60px;
  padding: 20px 30px;
  color: #FFFFFF;
  background-color: #F39C11;
  border-radius: 10px;
}
.mainer-desktop-img{
  max-width: 643px;
}
.featur{
  background-color: #3D210C;
  color: #FFF4D8;
  text-align: center;
  padding-top:52px ;
  padding-bottom: 41px;
}

.featur-title{
  font-size: 50px;
  font-family: "Lobster", sans-serif;
line-height: 50px;
letter-spacing: -0.33px;
color: #FFF4D8;
margin-bottom: 33px;
}
.featur-possib{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.possib{
 
  width: 286px;
  text-align: center;
}
.possib-title{
  font-weight: 600;
  font-size:30px;
    font-family: "Rubik", sans-serif;
line-height: 35px;
letter-spacing: -0.33px;
margin-bottom: 16px;

}
.possib-text{
  width: 287px;
  text-align: center  ;
      font-family: "Rubik", sans-serif;
font-size: 20px;
line-height: 25px;
letter-spacing: -0.33px;
}


/* responsive */

@media (max-width: 1194px) {
  .sayt-logo{
    width: 160px;
    height: 75px;
  }
  .nav-icons a img{
    width: 50px;
    height: 50px;
  }
  .title{
    font-size: 80px;
  }
  
  .mainer-text{
    line-height: 25px;
    max-width: 370px;
    font-size: 18px;
margin-bottom: 17px;
  }
  .mainer-desktop-img{
    width:450px ;
    height:400px ;
  }

  .possib-img{
    width: 100px;
    height: 100px;
  }
.possib-title{
  line-height: 40px;

}
.possib-text{
    font-size: 15px;
    line-height: 20px;
}


}

@media (max-width:768px) {
  
  
  .nav-links{
    display: none; 
  }
  .bar{
display: block;

  }
  .title{
    font-size: 60px;
  }
  .main-about{
    gap:5px;
  }
  
  .mainer-title{
    margin-bottom: 3px;
  }
  .mainer-text{
    line-height: 25px;
    width: 300px;
    font-size: 10px;
margin-bottom: 2px;
  }
  .mainer-desktop-img{
    width:387px ;
    height:337px ;
  }
  .featur-possib{
    flex-wrap: wrap;
  }
    .possib-img{
      margin-top: 20px;
    width: 80px;
    height: 80px;
  }
  .possib-title{
    font-size: 24px;
  }
.possib-text{
  width: 300px;
    font-size: 15px;
    line-height: 20px;
}


}
@media (max-width:450px) {
header{
    background-image: url('../images/png/header-bg-tel.png');
  }
  .sayt-logo{
    width: 133px;
    height: 63px;
  }
  .nav-icons a img{
    width: 40px;
    height: 40px;
  } 
  .nav-icons{
    gap: 5px;
  }
  .title{
    font-size: 50px;
  }
  .main-about{
    padding: 82px 40px;
  }

  .mainer-mobile-img{
    display: block;
  }
  .mainer-title{
    font-size: 30px;
    margin-bottom: 9px;
  }
  .about{
    text-align: center;
  }
  .mainer-desktop-img{
    display: none;
  }
  .mainer-text{
    margin-top: 25px;
    text-align: center;
    line-height: 20px;
    margin-bottom: 25px;
  }
  .pas{
    
    border-bottom: 2px solid #FFF4D8;
    
  }
  .possib-text{
    margin-bottom: 15px;
  }


}