
 
 .lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.rubik{
  font-family: "Rubik", sans-serif;
  
  
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
input{
  outline: none;
}
button{
  border: none;
}
ul,ol{
  text-decoration: none;
}
html{
  height: 100%;
}
body{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container{
  width: 100%;
  max-width: 1452px;
  margin: 0 auto ;
  padding: 28px 50px ;
}
/* header style */
header{
  display: flex;
  flex-direction: column;
  height: 100vh; 
  background-image: url('../images/png/bacground-coffee.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 28.5px ;
  padding-bottom: 33px;
}

.nav-container {
display: flex;
align-items: center;
justify-content: space-between;

}
.narbar-left{
display: flex;
align-items: center;
}
.bar{
  display: none;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 35px;

  a{
      font-family: "Rubik", sans-serif;
      font-size: 20px;
      line-height: 25px;
      letter-spacing: -0.33px;
      color: white;

  }
}
.nav-links a:hover {
  color: #F39C11;
}
.nav-icons {
  display: flex;
  gap: 26px;
}
.hero{

  flex-grow: 1;
}
.hero-container{
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title{

   font-family: "Lobster", sans-serif;
   font-size: 100px;
   line-height: 100%;
   color: white;
   
}
/* main style */
main{
  flex-grow: 1 ;
}
.main-about {
  background-color: #FFF4D8;


}
.mainer {
  display: flex;
  gap: 135px;
  align-items: center;
  padding: 82px 0;
}

.mainer-title {
  font-family: "Lobster",sans-serif;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.33px;
  margin-bottom: 33px;
  color: #0D1015;
}
.mainer-mobile-img {
  display: none;
}
.mainer-text {
  font-size: 20px;
  font-family: "Rubik",sans-serif;
  line-height: 30px;
  letter-spacing: -0.33px;
  color: #555555;
  margin-bottom: 33px;
}

.mainer-btn {
  padding: 20px 30px;
  color: #FFFFFF;
  background-color: #F39C11;
  border-radius: 10px;
}


/* responsive */

@media (max-width: 900px) {
  .sayt-logo{
    width: 160px;
    height: 75px;
  }
  .nav-icons a img{
    width: 50px;
    height: 50px;
  }
  .title{
    font-size: 80px;
  }
}
@media (max-width:768px) {
  
  
  .nav-links{
    display: none; 
  }
  .bar{
display: block;

  }
  .title{
    font-size: 60px;
  }

}
@media (max-width:450px) {
header{
    background-image: url('../images/png/header-bg-tel.png');
  }
  .sayt-logo{
    width: 133px;
    height: 63px;
  }
  .nav-icons a img{
    width: 40px;
    height: 40px;
  } 
  .nav-icons{
    gap: 5px;
  }
  .title{
    font-size: 50px;
  }


}