.lobster-regular {
	font-family: 'Lobster', sans-serif;
	font-weight: 400;
	font-style: normal;
}

.rubik {
	font-family: 'Rubik', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
input {
	outline: none;
}
button {
	border: none;
}
ul,
ol {
	text-decoration: none;
}
html {
	height: 100%;
}
body {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.container {
	width: 100%;
	max-width: 1652px;
	margin: 0 auto;
	padding: 20px;
}
/* header style */
header {
	display: flex;
	flex-direction: column;
	height: 100vh;
	background-image: url('../images/png/bacground-coffee.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-top: 28.5px;
	padding-bottom: 33px;
}

.nav-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.narbar-left {
	display: flex;
	align-items: center;
}
.bar {
	display: none;
}

.nav-links {
	display: flex;
	align-items: center;
	gap: 35px;

	a {
		font-family: 'Rubik', sans-serif;
		font-size: 20px;
		line-height: 25px;
		letter-spacing: -0.33px;
		color: white;
	}
}
.nav-links a:hover {
	color: #f39c11;
}
.nav-icons {
	display: flex;
	gap: 26px;
}
.hero {
	flex-grow: 1;
}
.hero-container {
	height: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.title {
	font-family: 'Lobster', sans-serif;
	font-size: 100px;
	line-height: 100%;
	color: white;
}
/* main style */
main {
	flex-grow: 1;
	padding-top: 82px;
	padding-bottom: 69px;
	background-color: #fff4d8;
}
.main-about {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.mainer-title {
	font-family: 'Lobster', sans-serif;
	font-size: 50px;
	line-height: 50px;
	letter-spacing: -0.33px;
	margin-bottom: 33px;
	color: #0d1015;
}
.mainer-mobile-img {
	display: none;
}
.mainer-text {
	width: 554px;
	font-size: 20px;
	font-family: 'Rubik', sans-serif;
	line-height: 30px;
	letter-spacing: -0.33px;
	color: #555555;
	margin-bottom: 33px;
}

.mainer-btn {
	width: 161px;
	height: 60px;
	padding: 20px 30px;
	color: #ffffff;
	background-color: #f39c11;
	border-radius: 10px;
}
.mainer-desktop-img {
	max-width: 643px;
}
.featur {
	background-color: #3d210c;
	color: #fff4d8;
	text-align: center;
	padding-top: 52px;
	padding-bottom: 41px;
}

.featur-title {
	font-size: 50px;
	font-family: 'Lobster', sans-serif;
	line-height: 50px;
	letter-spacing: -0.33px;
	color: #fff4d8;
	margin-bottom: 33px;
}
.featur-possib {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
.possib {
	width: 286px;
	text-align: center;
}
.possib-title {
	font-weight: 600;
	font-size: 30px;
	font-family: 'Rubik', sans-serif;
	line-height: 35px;
	letter-spacing: -0.33px;
	margin-bottom: 16px;
}
.possib-text {
	width: 287px;
	text-align: center;
	font-family: 'Rubik', sans-serif;
	font-size: 20px;
	line-height: 25px;
	letter-spacing: -0.33px;
}

.menu {
	padding: 59px 50px 76px 50px;
}

.menu-container {
	width: 100%;
	text-align: end;
}
.menu-title {
	text-align: center;
	font-family: 'Lobster', sans-serif;
	font-size: 50px;
	line-height: 50px;
	letter-spacing: -0.33px;
}
.menu-btn {
	width: 207px;
	padding: 20px 30px;
	background-color: #f39c11;
	color: white;
	font-family: 'Rubik', sans-serif;
	border-radius: 10px;
	margin-bottom: 21px;
	margin-top: 29px;
}
.menu-card-app {
	display: flex;
	justify-content: space-around;
}
.menu-card {
	text-align: start;
	width: 444px;
	padding: 24px 23px;
	background-color: white;
	border-radius: 20px;
}
.menu-card-img {
	border-radius: 20px;
	margin-bottom: 21px;
}
.menu-card-title {
	font-family: 'Rubik', sans-serif;
	font-weight: 600;
	font-size: 30px;
	line-height: 40px;
}
.menu-card-text {
	font-family: 'Rubik', sans-serif;
	color: #555555;
	font-size: 20px;
	line-height: 25px;
	margin-bottom: 27px;
}
.res {
	display: flex;
	align-items: center;
	gap: 9px;
	margin-bottom: 9px;
}
.karz {
	display: flex;
	align-items: center;
	justify-content: space-between;
	span {
		font-family: 'Rubik', sans-serif;
		font-weight: 700;
		font-size: 40px;
		line-height: 40px;
	}
}
.karz-btn {
	display: flex;
	align-items: center;
	gap: 10px;
	width: 182px;
	padding: 20px 18.5px;
	background-color: transparent;
	border-radius: 10px;
	border: 1px solid #f39c11;
	color: #f39c11;
}

/* footer styles */
footer{
  background-color: #3D210C;
  padding: 62px 50px 40px 50px;
}

.fooot{
  display: flex;
  align-items: start;
  justify-content: space-between;
  color: #FFF4D8;
  	font-family: 'Rubik', sans-serif;

}
.foot1{
  a img{
    width: 215px;
    height: 81px;
    margin-bottom: 40px;
  }
  p{
    width: 457px;
  	font-family: 'Rubik', sans-serif;
   font-size: 20px;
   line-height: 30px;
  
   margin-bottom: 27px;
  }
}
.icons{
  display: flex;
  align-items: center;
  gap: 14px;
  a img{
    width: 30px;
    height: 30px;
  }
}

  .foter-title{
font-size: 25px;
font-weight: 600;
line-height: 100%;
  }


.spania{
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 26px;
}
.foot2-span{
  font-size: 20px;
  line-height: 100%;
}
.foot3{
  input{
    width: 457px;
    height: 60px;
    border-radius: 10px;
    padding: 20px 20px;
    margin-top: 18px;
  }
  button{
    width: 151px;
    height: 60px;
    background-color: #F39C11;
    color: white;
    font-size: 20px;
    line-height: 20px;
    padding: 20px 30px;
    border-radius: 10px;
    margin-top: 24px;
    
  }
  p{
    width: 440px;
    font-style: italic;
    font-size: 20px;
    line-height: 100%;
    margin-top: 24px;
  }
}
.btn{
  text-align: center;
  width: 100%;
  max-width: 1805px;
  border: 1px solid #FFF4D8;
}
.qism{
  margin-top: 26px;
color: #FFF4D8;
  text-align: center;
font-size: 20px;
line-height: 100%;

}

/* responsive */

@media (max-width: 1194px) {
	.sayt-logo {
		width: 160px;
		height: 75px;
	}
	.nav-icons a img {
		width: 50px;
		height: 50px;
	}
	.title {
		font-size: 80px;
	}

	.mainer-text {
		line-height: 25px;
		max-width: 370px;
		font-size: 18px;
		margin-bottom: 17px;
	}
	.mainer-desktop-img {
		width: 450px;
		height: 400px;
	}

	.possib-img {
		width: 100px;
		height: 100px;
	}
	.possib-title {
		line-height: 40px;
	}
	.possib-text {
		font-size: 15px;
		line-height: 20px;
	}

	.menu-card {
		width: 338px;
		img {
			width: 304px;
		}
		h4 {
			font-size: 25px;
		}
		p {
			font-size: 15px;
		}
	}
	.res img {
		width: 30px;
		height: 30px;
	}
	.karz {
		span {
			font-size: 35px;
		}
		button {
			width: 146px;
			padding: 15px 15px;
			font-size: 15px;
		}
	}
}


@media (max-width: 768px) {
	.nav-links {
		display: none;
	}
	.bar {
		display: block;
	}
	.title {
		font-size: 60px;
	}
	.main-about {
		gap: 5px;
	}

	.mainer-title {
		margin-bottom: 3px;
	}
	.mainer-text {
		line-height: 25px;
		width: 300px;
		font-size: 10px;
		margin-bottom: 2px;
	}
	.mainer-desktop-img {
		width: 387px;
		height: 337px;
	}
	.featur-possib {
		flex-wrap: wrap;
	}
	.possib-img {
		margin-top: 20px;
		width: 80px;
		height: 80px;
	}
	.possib-title {
		font-size: 24px;
	}
	.possib-text {
		width: 300px;
		font-size: 15px;
		line-height: 20px;
	}
	.menu-container {
		flex-wrap: wrap;
	}
	.menu-card-app {
		padding: 0 0;
		gap: 20px;
		flex-wrap: wrap;
	}
	.menu-card {
		width: 268px;
		img {
			width: 244px;
		}
		h4 {
			font-size: 20px;
		}
		p {
			font-size: 15px;
		}
	}
	.res img {
		width: 30px;
		height: 30px;
	}
	.karz {
		span {
			font-size: 35px;
		}
		button {
			width: 146px;
			height: 50px;
			padding: 8px 15px;
			font-size: 15px;
		}
	}
}
@media (max-width: 450px) {
	header {
		background-image: url('../images/png/header-bg-tel.png');
	}
	.sayt-logo {
		width: 133px;
		height: 63px;
	}
	.nav-icons a img {
		width: 40px;
		height: 40px;
	}
	.nav-icons {
		gap: 5px;
	}
	.title {
		font-size: 50px;
	}
	.main-about {
		padding: 82px 40px;
	}

	.mainer-mobile-img {
		display: block;
		width: 300px;
		height: 286px;
	}
	.mainer-title {
		font-size: 30px;
		margin-bottom: 9px;
	}
	.about {
		text-align: center;
	}
	.mainer-desktop-img {
		display: none;
	}
	.mainer-text {
		margin-top: 25px;
		text-align: center;
		line-height: 20px;
		margin-bottom: 25px;
	}
	.pas {
		border-bottom: 2px solid #fff4d8;
	}
	.possib-text {
		margin-bottom: 15px;
	}
	.menu-container {
		text-align: center;
		padding: 5px 0;
	}

	.menu-card-img {
		width: 314px;
		margin-bottom: 14px;
	}
	.menu-card-title {
		font-size: 25px;
	}

	.karz {
		margin-top: 15px;
		span {
			font-size: 35px;
		}
		button {
			width: 146px;
			height: 50px;
			padding: 8px 15px;
			font-size: 15px;
			img {
				width: 30px;
				height: 30px;
			}
		}
	}
}
